extends layout

block content
  if name
    h3 Welcome #{name}
  else
    form(action='/hello', method='post', class='hello-form')
      .form-inline
        input(class='form-control username', placeholder='Enter your name :)', type='text', name='username', autocomplete="off")
        input(class=['form-control', 'play-button'], type='submit', value='Begin!')
