body {
  background: #fff;
}

.logo {
  box-shadow: -15px 20px black;
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #6B362C;
  transform: rotate3d(2, 1, 2, 45deg);
}

header {
  font-family: 'Alegreya SC', serif;
  color: #6B362C;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.title {
  display: inline-block;
  font-size: 5em;
  margin-left: 10px;
}

.hello-form {
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.username {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
}

.username:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.play-button {
  color: #544941;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  font-weight: bold;
}

.play-button:focus {
  border-color: #ced4da;
  box-shadow: none;
}
